@import "tailwindcss";

:root {
  --color-base: 0, 0, 0;
  --color-primary: #000;
  --color-inverted-primary: #fff;

  --color-stroke: rgb(var(--color-base), 50%);

  --color-surface: rgb(var(--color-base), 5%);
  --color-surface-hover: rgb(var(--color-base), 2%);

  --color-highlight: rgb(var(--color-base), 10%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-base: 255, 255, 255;
    --color-primary: #fff;
    --color-inverted-primary: #000;

    --color-stroke: rgb(var(--color-base), 50%);

    --color-surface: rgb(var(--color-base), 10%);
    --color-surface-hover: rgb(var(--color-base), 5%);

    --color-highlight: rgb(var(--color-base), 20%);
  }
}

@theme static {
  --font-weight-regular: 400;
  --font-weight-medium: 500;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-inverted-primary: var(--color-inverted-primary);
  --color-stroke: var(--color-stroke);
  --color-surface: var(--color-surface);
  --color-surface-hover: var(--color-surface-hove);
  --color-highlight: var(--color-highlight);

  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-sm--font-weight: var(--font-weight-regular);

  --text-md: 1rem;
  --text-md--line-height: 1.5rem;
  --text-md--font-weight: var(--font-weight-medium);
}

body {
  font-size: 16px;
  font-family: var(--font-inter);
  font-optical-sizing: auto;
  font-style: normal;
  width: 100dvw;
  height: 100dvh;
}
